html {
    padding: 0%;
    
}

#enter-button {
    position:absolute;
    border: none;
    color: rgb(255, 255, 255);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    background-color: #97979708;
    backdrop-filter: blur(3px);
    margin: -3%;
    height: 110%;
    width: 105%;
}

#enter-button:hover {
    text-decoration: underline;
}

button {
    margin: 0%;
    color: rgb(255, 255, 255);
    background-color: #000000;
    font-family: "IBM Plex Mono", monospace;
    border: none;
    text-decoration: underline;
}

p {
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    color: yellow;
}

body {
    font-family: "IBM Plex Mono", monospace;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    padding: 5dvb;
}

body {
    background: #000000; /* Solid black background */
    position: relative;
    min-height: 100vh; /* Ensure it covers the full viewport height */
    overflow: hidden; /* Turn off scrolling */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgb(255, 255, 255) 0.3px, transparent 1px);
    background-size: 9px 9px; 
    opacity: 0.5; 
    z-index: -1;
}


body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(136, 136, 136, 0.03); /* Very subtle white matte overlay */
    pointer-events: none;
    z-index: -2; 
}

h1 {
    margin: 0;
    /* padding: 2dvh; */
    /* text-align: center; */
    color: rgb(255, 255, 255);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;            
}



@media (max-width: 768px) {
    #enter-button {
        margin: 60% -6% -6% -6%;
        height: 30%;
        width: 90%;
    }

    body {
        margin: 0;
        padding: 5%;
    }

    body::after {
        background-size:10px 10px;
    }

    h1 {
        font-size: 24px;
        
    }
}