body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: larger;
    padding-top: 7dvw;
}
#main {
    height: 100dvw;
    color: white;
    font-size: large;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: grey;
}
a::after {
    font-size: 3dvw;
}

img {
    width: 30%;
}

button {
    width: fit-content;
    font-family: monospace;
    font-size: 1.5dvw;
    color: white;
    background-color: black;
    border: none;
}
button:hover {
    color: grey;
}

p {
    margin: 0.5%;
}

.cc-div {
    border: 0.1dvw;
    border-color: white;
    border-style: solid;
    padding: 1dvw 0 1dvw 0;
    width: 50dvw;
    margin-left: 25dvw;
}

@media only screen and (max-width: 600px) {
    body {
        padding-top: 40dvw;
    }
    p {
        margin: 0.5%;
    }
    button {
        font-size: 4.5dvw;
    }
    .cc-div {
        padding: 2.2dvw 0 2.2dvw 0;
    }

    img {
        width: 80dvw;
    }
    .cc-div {
        width: 100%;
        margin: 0;
    }
}