body {
    background-color: white;
    font-family: 'Space Mono', monospace;
    font-size: 3dvw;
    margin: 0.5dvw;
}
.contents{
    text-decoration: none;
    color: white;
}

.index {
    background-color: black;
    text-align: center;
    padding: 2dvw;
    border-style: solid;
    border-radius: 1dvw;
}

#leonardo_triangle {
    font-size: 6dvw;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
}

#label {
    font-family: monospace;
    font-size: 1.5dvw;
    color: rgb(142, 142, 0);
    position: absolute; bottom: 0; margin-left: 50%;
    text-decoration: line-through;
}

#logo {
    font-family: monospace;
    font-size: 10dvw;
    color: rgb(255, 255, 0);
    text-decoration: line-through;
    text-align: center;
}

@media screen and (max-width: 600px) {
    body {
    }   
    .index {
        margin-top: 1dvw;
        background-color: black;
        text-align: center;
        padding: 2dvw;
        border-style: solid;
        border-radius: 1dvw;
    }
    
    #leonardo_triangle {
        text-decoration: none;
        font-size: 9dvw;
        text-align: center;
        color: white;
        font-family: "Rubik Broken Fax", system-ui;
        font-weight: 400;
        
    }
    

    #label {
        font-family: monospace;
        font-size: 6dvw;
        color: rgb(142, 142, 0);
        text-decoration: line-through;
        position: absolute; bottom: 0; margin-left: 43dvw;
    }
}