/* html {
    padding: 0%;
    
} */

#enter-button {
    position:absolute;
    border: none;
    color: rgb(255, 255, 255);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    background-color: #97979708;
    backdrop-filter: blur(3px);
    /* margin: -3%; */
    height: 100%;
    width: 100%;
}

#enter-button:hover {
    text-decoration: underline;
}

button {
    /* margin: 0 0 0 0; */
    color: rgb(255, 255, 255);
    background-color:rgba(0, 0, 0, 0);
    font-family: "IBM Plex Mono", monospace;
    border: none;
    text-decoration: underline;
    font-size: 5dvb;
}

button:hover {
    text-decoration: none;
}
p {
    margin: 0;
    font-family: "IBM Plex Mono", monospace;
    color: yellow;
}

body {
    font-family: "IBM Plex Mono", monospace;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    /* padding: 5dvb; */
}

body {
    background: #000000; 
    position: relative;
    min-height: 100vh; 
    overflow: hidden; 
    padding: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgb(169, 168, 168) 0.3px, transparent 1px);
    background-size: 9px 9px; 
    opacity: 0.5; 
    z-index: -1;
}


body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(136, 136, 136, 0.03); /* Very subtle white matte overlay */
    pointer-events: none;
    z-index: -2; 
}

h1 {
    margin: 0 0 1% 0;
    font-size: 8dvb;
    color: rgb(255, 255, 255);
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;            
}

#content {
    padding: 3%;
}

@media (max-width: 768px) {
    #enter-button {
        height: 100%;
        width: 100%;
        font-size: 6dvh;
    }
    button {
        font-size: 5dvh
    }
    #content {
        padding: 3%;
    }

    body::after {
        background-size:10px 10px;
    }

    h1 {
        font-size: 5dvh;
        margin-bottom: 3%;
    }
}