@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    padding: 3dvh;
    background-color: black;
    color: chartreuse;
    font-size: larger;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}
h1 {
    font-weight: 200;
    text-decoration: underline  ;
}
code {
    color: rgb(150, 239, 239);
    padding: 1dvb;
}

a {
    font-size: x-large;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
button {
     background-color: black;
    border: none;
    color: white;
}
